$primary-color-yoga:#FF47A3;
$secondary-color-yoga: #FFC1E0;
$third-color-yoga: #707070;

$white:#fff;
$grey:#F9F9F9;
$grey-yoga:#CFCCE0;

$fonts-color-yoga: #3F3D56;
$fonts-color-yoga-2: #5A5A5A;
$fonts-color-yoga-3: #AEAEAE;

